<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wonderlust</title>
</head>
<body>
    <form method="POST" action="/listings">
        <input name="title" type="text" placeholder=" enter title">
        <br>
        <textarea name="description" placeholder=" enter description"></textarea>
        <br>
        <input name="image" type="text" placeholder=" enter image url" >
        <br>
        <input name="price" type="number" placeholder=" enter price">
        <br>
        <input name="country" type="text" placeholder=" enter country">
        <br>
        <input name="location" type="text" placeholder=" enter location">
        <br>
        <button type="submit">Add</button>
    </form>

</body>
</html>