<%layout ("/layouts/boilerplate")%>
<body>

    <h3>create new listing:</h3>
    <form method="POST" action="/listings">
        <input name="title" type="text" placeholder=" enter title">
        <br><br>
        <textarea name="description" placeholder=" enter description"></textarea>
        <br><br>
        <input name="Image" type="text" placeholder=" enter image url" >
        <br><br>
        <input name="price" type="number" placeholder=" enter price">
        <br><br>
        <input name="Country" type="text" placeholder=" enter country">
        <br><br>
        <input name="location" type="text" placeholder=" enter location">
        <br><br>
        <button type="submit">Add</button>
    </form>

</body>
